:root {
  --main-color: #533738;
}

html,
body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  color: var(--main-color);

  background-color: #efe6e4;
}

.title {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
}

.title--section {
  text-transform: uppercase;
}

.title--section-request {
  color: #ffffff;
}

.title--size-x {
  font-size: 50px;
  line-height: 62px;
}

.title--feature {
  color: #ffffff;
}

.bold-text {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

.bold-text--feature {
  color: #ffffff;
  text-transform: uppercase;
}

.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-color);
  text-decoration: none;
}

.more-link {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: var(--main-color);
  text-decoration: none;
}

.btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--main-color);
  text-decoration: none;
}

.request {
  background-color: #8d7370;
}

.request__subtitle {
  color: rgba(255, 255, 255, 0.6);
}

.company-features {
  background-color: #8d7370;
}

.team-work-wrapper {
  background-color: #e2c4ba;
}

.page-header {
  padding-top: 36px;
  padding-bottom: 168px;
}

.page-nav__menu {
  margin: 0;
  padding: 0;
}

.hero__lead {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.hero__text {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
}
