:root {
  --main-color: #533738;
}

html,
body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  color: var(--main-color);

  background-color: #efe6e4;
}

.title {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
}

.title--section {
  text-transform: uppercase;
}

.title--section-request {
  color: #ffffff;
}

.title--size-x {
  font-size: 50px;
  line-height: 62px;
}

.title--feature {
  color: #ffffff;
}

.bold-text {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

.bold-text--feature {
  color: #ffffff;
  text-transform: uppercase;
}

.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-color);
  text-decoration: none;
}

.more-link {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: var(--main-color);
  text-decoration: none;
}

.btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--main-color);
  text-decoration: none;
}

.company-features {
  background-color: #8d7370;
}

.team-work-wrapper {
  background-color: #e2c4ba;
}

.page-header {
  padding-top: 36px;
  padding-bottom: 168px;
}

.page-nav__menu {
  margin: 0;
  padding: 0;
}

.hero__lead {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.hero__text {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
}

.company {
  padding-top: 60px;
}

.company__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.company__text p {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.company__text p:last-child {
  margin-bottom: 0;
}

.company-features {
  padding-top: 85px;
  padding-bottom: 80px;
}

.features-list {
  margin: 0;
  padding: 0;
}

.feature__title {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
}

.feature__text {
  margin: 0;
  padding: 0;
}

.portfolio {
  padding-top: 60px;
}

.portfolio__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.portfolio-list {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;

  list-style: none;
}

.project__hover {
  margin: 0;
  padding: 85px 0;

  background-color: rgba(100, 72, 69, 0.8);
}

.project__title {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  text-align: center;
  color: #ffffff;
}

.project__description {
  margin: 0;
  padding: 0;

  color: #ffffff;
}

.team {
  padding-top: 45px;
  padding-bottom: 15px;
}

.team__title {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
}

.team-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.member__photo {
  display: block;
  margin-bottom: 4px;
}

.member__description {
  margin: 0;
  padding: 0;
}

.work {
  padding-top: 15px;
  padding-bottom: 72px;
}

.work-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reviews {
  padding-top: 60px;
  padding-bottom: 65px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.carousel__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.carousel__controls {
  margin: 0;
  padding: 0;

  list-style: none;
}

.review__text {
  margin: 0;
  padding: 0;
}

.review__text p {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.review__author {
  font-style: normal;
  text-transform: uppercase;
}

.illustrations {
  margin: 0;
  padding: 0;
}

.illustrations__image {
  display: block;
}

.illustrations__image:not(:last-child) {
  margin-bottom: 20px;
}

.request {
  padding-top: 45px;
  padding-bottom: 45px;

  background-color: #8d7370;
}

.request__title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.request__subtitle {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  color: rgba(255, 255, 255, 0.6);
}

.request-form {
  margin-bottom: 30px;
}

